@import url(library.css);

.header .upper-line {
  padding-top: 17px;
  padding-bottom: 16px;
}
.header .upper-line .navigation {
  line-height: 16px;
  gap: 30px;
}
.header .center {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #efefef;
}

.header .logo {
  gap: 20px;
  color: var(--primary-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.header .center .callback {
  gap: 40px;
}

.header .bottom-line {
  padding-top: 30px;
  padding-bottom: 30px;
}
.header .bottom-line .navigation {
  line-height: 19px;
  gap: 40px;
  color: var(--color-black);
}

/* ------------------------------------------------------------------------------------------------------------ */

.first-section {
  background: var(--primary-color) url('../images/main-bg.jpg') no-repeat
    center/cover;
  padding-top: 190px;
  padding-bottom: 190px;
}
.first-section .text-wrap {
  max-width: 310px;
}
.first-section .main-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 50px;
}
.first-section .description {
  margin-bottom: 50px;
}

/* ------------------------------------------------------------------------------------------------------------ */

.main-content {
  padding-top: 80px;
  padding-bottom: 80px;
}
.section-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 38px;
  color: var(--color-black);
}
.main-content .card-wrap {
  gap: 30px;
}
.main-content .card {
  max-width: 255px;
  background-color: var(--color-white);
  padding: 25px 30px;
  text-align: center;
}

.card .image {
  display: block;
  aspect-ratio: 1.17/1;
  object-fit: contain;
  margin-bottom: 20px;
}

.card .description {
  margin-bottom: 20px;
}

.card .price {
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  color: var(--color-black);
}
